# Managed by Ansible. Never commit rendered values.
SCREENER_PLATFORM_API_URL={{ screener_fleet_platform_url }}
SCREENER_NODE_ENVIRONMENT={{ screener_fleet_environment }}
SCREENER_NODE_ID={{ screener_fleet_node_id }}
SCREENER_NODE_PROVIDER=hetzner
SCREENER_NODE_PROVIDER_RESOURCE_ID={{ screener_fleet_provider_resource_id }}
SCREENER_NODE_CREDENTIAL_FILE={{ screener_fleet_credential_file }}
SCREENER_REGISTRATION_TOKEN_FILE={{ screener_fleet_registration_token_file }}
SCREENER_SOURCE_REVIEW_API_KEY_FILE={{ screener_fleet_source_review_key_file }}
SCREENER_INSTANCE_ID={{ screener_fleet_node_id }}
NETUID={{ screener_fleet_netuid }}
SCREENER_REMOTE_BUILD_MODE=require
SCREENER_REMOTE_BUILD_TIMEOUT_SECONDS={{ screener_fleet_build_timeout_seconds }}
SCREENER_SOURCE_REVIEW_TIMEOUT_SECONDS={{ screener_fleet_source_review_timeout_seconds }}
SCREENER_POLL_SECONDS=2
SCREENER_QUEUE_LIMIT=1
SCREENER_DOCKER_HOST=unix:///run/ditto-screener-no-local-docker.sock
SCREENER_REQUIRE_ROOTLESS_DOCKER=1
