{
  "bip": "{{ coding_certification_service_bip }}",
  "exec-opts": ["native.cgroupdriver=systemd"],
  "features": {"containerd-snapshotter": true},
  "icc": false,
  "ipv6": false,
  "labels": ["io.heyditto.dittobench.isolated=true"],
  "live-restore": false,
  "log-driver": "none",
  "no-new-privileges": true
}
