# Rendered for review only. Contains no secret.
DITTOBENCH_CODING_CERTIFICATION_SERVICE_ENABLED=false
DITTOBENCH_CODING_CERTIFICATION_SERVICE_UID={{ coding_certification_service_uid }}
DITTOBENCH_CODING_CERTIFICATION_CONTROL_GID={{ coding_certification_service_client_gid }}
DITTOBENCH_CODING_CERTIFICATION_ROUTER_LISTEN={{ coding_certification_service_bip.split('/')[0] }}:{{ coding_certification_service_router_port }}
DITTOBENCH_CODING_CERTIFICATION_EGRESS_NETWORK={{ coding_certification_service_egress_network }}
DITTOBENCH_CODING_CERTIFICATION_EGRESS_PROXY={{ coding_certification_service_egress_proxy }}
DITTOBENCH_CODING_CERTIFICATION_RUNTIME_IMAGE_REPOSITORY={{ coding_certification_service_runtime_image_repository }}
DITTOBENCH_CODING_CERTIFICATION_RUNTIME_IMAGE_DIGEST={{ coding_certification_service_runtime_image_digest }}
DITTOBENCH_CODING_CERTIFICATION_PACK_MANIFEST_SHA256={{ coding_certification_service_pack_manifest_sha256 }}
DITTOBENCH_CODING_CERTIFICATION_ROUTER_HELPER_SHA256={{ coding_certification_service_router_helper_sha256 }}
