# Managed by Ansible. Source only for one confirmed Hippius Coding canary run.
DITTO_CODING_HIPPIUS_CANARY_ENABLED=true
DITTO_CODING_HIPPIUS_CANARY_PLAN_PATH={{ platform_coding_hippius_canary_plan_path | quote }}
DITTO_CODING_HIPPIUS_CANARY_DEPLOYED_SOURCE_PATH={{ platform_coding_hippius_canary_deployed_source_path | quote }}
DITTO_CODING_HIPPIUS_PRIVATE_INPUT_MANIFEST_PATH={{ platform_coding_hippius_private_input_manifest_path | quote }}
DITTO_CODING_HIPPIUS_PRIVATE_INPUT_PUBLICATION_RECEIPT_PATH={{ platform_coding_hippius_private_input_publication_receipt_path | quote }}
DITTO_CODING_HIPPIUS_CURATOR_PUBLIC_KEY_PATH={{ platform_coding_hippius_curator_public_key_path | quote }}
DITTO_CODING_HIPPIUS_CANARY_UNWRAP_EXECUTABLE={{ (platform_coding_hippius_canary_install_root ~ '/bin/hippius-canary-unwrap') | quote }}
DITTO_CODING_HIPPIUS_CANARY_AUTHORING_EXECUTABLE={{ (platform_coding_hippius_canary_install_root ~ '/bin/hippius-canary-authoring') | quote }}
DITTO_CODING_HIPPIUS_CANARY_GRADING_EXECUTABLE={{ (platform_coding_hippius_canary_install_root ~ '/bin/hippius-canary-grading') | quote }}
DITTO_CODING_HIPPIUS_CANARY_HELPER_WORK_ROOT={{ platform_coding_hippius_canary_work_root | quote }}
DITTO_CODING_HIPPIUS_CANARY_HELPER_TIMEOUT_SECONDS={{ platform_coding_hippius_canary_helper_timeout_seconds | quote }}
DITTO_CODING_HIPPIUS_ENDPOINT_URL={{ platform_coding_hippius_endpoint | quote }}
DITTO_CODING_HIPPIUS_REGION={{ platform_coding_hippius_region | quote }}
DITTO_CODING_HIPPIUS_PRIVATE_INPUT_BUCKET={{ platform_coding_catalog_bucket | quote }}
DITTO_CODING_HIPPIUS_PRIVATE_INPUT_CURATOR_ACCESS_KEY={{ platform_coding_hippius_private_input_curator_access_key | quote }}
DITTO_CODING_HIPPIUS_PRIVATE_INPUT_READER_ACCESS_KEY={{ platform_secrets.coding_catalog_access_key | quote }}
DITTO_CODING_HIPPIUS_PRIVATE_INPUT_READER_SECRET_KEY={{ platform_secrets.coding_catalog_secret_key | quote }}
