[Unit]
Description=Ditto Hippius synthetic-canary unwrap socket

[Socket]
ListenStream={{ platform_coding_hippius_canary_unwrap_socket }}
SocketUser={{ platform_coding_hippius_canary_unwrap_user }}
SocketGroup={{ platform_group }}
SocketMode=0660
DirectoryMode=0750
RemoveOnStop=true
Service=ditto-hippius-canary-unwrap.service

[Install]
WantedBy=sockets.target
