DITTO_HIPPIUS_CANARY_UNWRAP_ENABLED=true
DITTO_HIPPIUS_CANARY_UNWRAP_SOCKET_PATH={{ platform_coding_hippius_canary_unwrap_socket | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_AUTHORITY_PATH={{ platform_coding_hippius_canary_unwrap_authority_path | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_PRIVATE_KEY_PATH={{ platform_coding_hippius_canary_unwrap_private_key_path | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_OPENSSL_PATH={{ platform_coding_hippius_canary_unwrap_openssl_path | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_EXPECTED_CLIENT_UID={{ platform_coding_hippius_canary_owner_lookup.stdout | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_EXPECTED_CLIENT_GID={{ platform_coding_hippius_canary_owner_primary_gid.stdout | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_SOCKET_TIMEOUT_SECONDS={{ platform_coding_hippius_canary_unwrap_socket_timeout_seconds | quote }}
DITTO_HIPPIUS_CANARY_UNWRAP_REQUIRE_SOCKET_ACTIVATION=true
